In [ ]:
# file = open(<'file_name'>,'<mode>')
# file.close()


# anotherway
    # with open('File_name','mode') as file:
        #<operations>
        
        
        
# mode   = jun mode ma kholeko xa tyo kaam matra garna milxa

#read = r
#write = w    = aafai file create hunxa
#create = x
#append = a  = = aafai file create hunxa

In [1]:
file = open('file.txt','x')
file.close()     # close pani garnu parxa

In [3]:
## exception(error) handling if we try create the same file multiple times

try:
    file = open('file.txt','x')
    file.close()     # close pani garnu parxa

except:

    print("The file is already there!")

The file is already there!

In [4]:
# Reading file

file = open('file.txt','r')
x = file.read()  ### reading
print(x)
file.close()     # close pani garnu parxa

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World
9. Hello World

In [5]:
print(type(x))   # .txt nai euta string ho, so we can separate contents from it

<class 'str'>

In [6]:
x  ## i.e sab lai \n le separate gareko xa

'1. Hello World\n2. Hello World\n3. Hello World\n4. Hello World\n5. Hello World\n6. Hello World\n7. Hello World\n8. Hello World\n9. Hello World'

In [8]:
## converting it  = reading line by line.

data = x.split('\n')
data

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World',
 '6. Hello World',
 '7. Hello World',
 '8. Hello World',
 '9. Hello World']

In [9]:
## reading data line by line

n = int(input("Enter line no = "))
data[n-1]

Enter line no = 2

'2. Hello World'

In [ ]:
######### Writing into file ############

In [10]:
# mode - w    = if there is existing file, it will overwrite
file = open('hello.txt','w')
file.write("Hello World")
file.close()

In [11]:
## creating bill.txt

bill = str()
grand_total = 0
#s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter x = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
#     bill = bill + product+" " +str(price)+str(quantity) +str(total)+"\n"
    bill = bill + f"{product} {price} {quantity} {total}\n"
print(bill)


file = open('bill.txt','w')
file.write(bill)
file.close()

Enter n = 2
Enter x = Apple
Enter price = 15
Enter quantity = 5
Enter x = Banana
Enter price = 55
Enter quantity = 5
Apple 15 5 75
Banana 55 5 275

In [29]:
# reading bill.txt 


file = open('bill.txt','r')
x = file.read()

b= x.split('\n')[:-1]   # to remove last ko space
print(b)

result =[]

for i in b:   ## converting to string   = difficult so, we use CSV
    y = i.split()
    
    y[1]= int(y[1])
    y[2]= int(y[2])
    y[3]= int(y[3])
    result.append(y)

result

['Apple 15 5 75', 'Banana 55 5 275']

[['Apple', 15, 5, 75], ['Banana', 55, 5, 275]]

In [ ]:
### CSV###

In [35]:
## creating billnew.csv

bill = str()
grand_total = 0
#s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter x = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
#     bill = bill + product+" " +str(price)+str(quantity) +str(total)+"\n"
    bill = bill + f"{product},{price},{quantity},{total}\n"
print(bill)


file = open('bill.csv','w')

file.write('Product,Price,Quantity,Total\n') ## adding headers /cloumn name

file.write(bill)
file.close()

Enter n = 2
Enter x = Apple
Enter price = 55
Enter quantity = 5
Enter x = Banana
Enter price = 65
Enter quantity = 5
Apple,55,5,275
Banana,65,5,325

In [36]:
file = open('bill.csv','r')
y = file.read()
print(y)
file.close()

Product,Price,Quantity,Total
Apple,55,5,275
Banana,65,5,325

In [33]:
pwd

'C:\\Users\\Rawjan\\Desktop\\Python Class\\11'

In [38]:
## reading file with pandas

import pandas as pd
df = pd.read_csv('bill.csv')
df

  Product  Price  Quantity  Total
0   Apple     55         5    275
1  Banana     65         5    325

In [ ]:
### Append###

In [51]:
# bill . part 1

file = open('Tbill.csv','a')   # yesle filelai append mode ma rakhirahanxa since,last ma matra close xa
file.write('Name,Product,Price,Quantity,Total\n')  # yo ekpalta matra chahine ho

34

In [52]:
# Bill.part 2

## yo code run garera detail line ho-- each customer ko lagi run garne


bill = str()
grand_total = 0
#s = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter Customer's name = ")
    product = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
#     bill = bill + product+" " +str(price)+str(quantity) +str(total)+"\n"
    bill = bill + f"{name},{product},{price},{quantity},{total}\n"





 ## adding headers /cloumn name

file.write(bill)

Enter n = 2
Enter Customer's name = Ram
Enter name = Apple
Enter price = 65
Enter quantity = 5
Enter Customer's name = Ram
Enter name = Banana
Enter price = 44
Enter quantity = 5

39

In [4]:
# Bill.part 2

## file last ma close garne at day end only .. one time matra ta ho

file.close()

NameError: name 'file' is not defined

In [5]:
import pandas as pd
df = pd.read_csv('Tbill.csv')
df

  Product    Price Quantity     Total Unnamed: 4
0   Apple        2       65       130        NaN
1  Banana       65        4       260        NaN
2    Aple       55        5       275        NaN
3  Banana       65        5       325        NaN
4   Grape       65        5       325        NaN
5    Name  Product    Price  Quantity      Total
6     Ram    Apple       65         5        325
7     Ram   Banana       44         5        220