In [16]:
#part 1

info = open('finalbill.csv','a')

43

In [ ]:
# part 2
info.write('TimeStamp,Name,Product,Rate,Quantity,Total\n')    # append mode ma kholera write gareko

In [17]:
#part 3

bill = str()
n = int(input("Enter number of items:  "))

from datetime import datetime

for i in range(n):
    name = input("Enter name of customer: ")
    product= input("Enter the name of item: ")
    rate = int(input(f"Enter the rate of {product}: "))
    qty = int(input(f"Enter quantity of {product}"))
    total = rate * qty
    time = datetime.now()
    
    bill = bill + f"{time},{name},{product},{rate},{qty},{total}\n "

info.write(bill)

Enter number of items:  2
Enter name of customer: gita
Enter the name of item: Grapes
Enter the rate of Grapes: 55
Enter quantity of Grapes555
Enter name of customer: Sita
Enter the name of item: Papaya
Enter the rate of Papaya: 65
Enter quantity of Papaya5

102

In [18]:
#part 4

info.close()

In [23]:
file = open('finalbill.csv','r')
c= file.read()    # file is object , suruma file ma store vayeko hunxa , tyaha bata read garne
print(c)

TimeStamp,Name,Product,Rate,Quantity,Total
21/02/2023 21:28,Ram,Apple,55,5,275
 2023-02-21 21:29:02.948633,Hari,65,55,55,3025
 ,,,,,
TimeStamp,Name,Product,Rate,Quantity,Total
2023-02-21 21:32:29.870999,gita,Grapes,55,555,30525
 2023-02-21 21:32:40.782936,Sita,Papaya,65,5,325

In [1]:
import pandas as pd
df = pd.read_csv('finalbill.csv')
df

                     TimeStamp  Name  Product  Rate  Quantity  Total
0             21/02/2023 21:28   Ram    Apple    55         5    275
1   2023-02-21 21:29:02.948633  Hari       65    55        55   3025
2                                NaN      NaN   NaN       NaN    NaN
3                    TimeStamp  Name  Product  Rate  Quantity  Total
4   2023-02-21 21:32:29.870999  gita   Grapes    55       555  30525
5   2023-02-21 21:32:40.782936  Sita   Papaya    65         5    325

Enter name of Student: Ram

In [19]:
################ Result of Students############## using matrix in file: subjects in column and name in rows

c = int(input("Enter number of columns: "))
r = int(input("Enter number of rows: "))
mat = []

for i in range(r):
    r = []
    for j in range(c):
        x = int(input("Enter value to store: "))
        r.append(x)
    mat.append(r)
print(mat)

Enter number of columns: 3
Enter number of rows: 2
Enter value to store: 45
Enter value to store: 45
Enter value to store: 45
Enter value to store: 43
Enter value to store: 34
Enter value to store: 34
[[45, 45, 45], [43, 34, 34]]

In [28]:
subjects = ['Physics', 'Chemistry', 'Math', 'English','Nepali']
c= len(subjects)
n = int(input("Enter the number of students whose data to be entered: "))   # rows
final =[]
for i in range(n):
    r = []
    total = 0
    for j in range(c):
        marks = int(input(f"Enter marks in {subjects[j]}"))
        total = total + marks
        r.append(marks)
    
    final.append(r)
print(final)

Enter the number of students whose data to be entered: 2
Enter marks in Physics56
Enter marks in Chemistry45
Enter marks in Math45
Enter marks in English45
Enter marks in Nepali45
Enter marks in Physics55
Enter marks in Chemistry55
Enter marks in Math55
Enter marks in English55
Enter marks in Nepali55
[[56, 56, 45, 101, 45, 146, 45, 191, 45, 236], [55, 55, 55, 110, 55, 165, 55, 220, 55, 275]]