In [5]:
a = [[1,2,3],[4,5,6],[6,7,8],['a','b']]
print(type(a))
print(a)
print(len(a))

<class 'list'>
[[1, 2, 3], [4, 5, 6], [6, 7, 8], ['a', 'b']]
4

In [2]:
print(a[2])

[6, 7, 8]

In [3]:
print(a[0][0])

1

In [4]:
a =['Ball','cat']
a[0][0]

'B'

In [6]:
a =[['Ram',45,'Kathmandu'],['shyam',78,'Bhaktapur'],['Hari',45,'Jhapa']]
a[0][1]

45

In [8]:
## taking data from a user into a nested list  ## APPEND
l=[]
n = int(input("Enter no. of data to enter"))
for i in range(n):
    name = input("ENter your name:")
    age = int(input("Enter your age:"))
    add = input("Enter your address:")
    l.append([name,age,add])
l

Enter no. of data to enter2
ENter your name:Ram
Enter your age:45
Enter your address:Ktm
ENter your name:Shyam
Enter your age:66
Enter your address:Jhapa

In [9]:
l.append(['Hari',45,'Lalitpur'])
l

[['Ram', 45, 'Ktm'], ['Shyam', 66, 'Jhapa'], ['Hari', 45, 'Lalitpur']]

In [15]:
####SEARCH in nested list###

#Q1
a = [['Ram', 45, 'Ktm'], ['Shyam', 66, 'Jhapa'], ['Hari', 45, 'Lalitpur']]
name =input("Enter name to search")
for i in a:   # a  ko index wise value i ma linxa each time in a loop.
    if name in i:  # mathiko le a baata i ma lyauxa ani tyo i ma search garne ho
        print(i)

Enter name to searchRam
['Ram', 45, 'Ktm']

In [17]:
####SEARCH in nested list###

#Q2 - 20 vanda mathi age vayeko

a = [['Ram', 20, 'Ktm'], ['Shyam', 66, 'Jhapa'], ['Hari', 45, 'Lalitpur']]

for i in a:      # i ma 3 times samma loop ma fron index 0 to 2 aauxa.
    if i[1]>20:  # each i ko index 1 ma gayera check garxa
        print(i)   # jun jun i ma xa tei print garxa

['Shyam', 66, 'Jhapa']
['Hari', 45, 'Lalitpur']

In [20]:
###UPDATE
a = [['Ram', 20, 'Ktm'], ['Shyam', 66, 'Jhapa'], ['Hari', 45, 'Lalitpur']]
a[0][0]='Rama'
a

[['Rama', 20, 'Ktm'], ['Shyam', 66, 'Jhapa'], ['Hari', 45, 'Lalitpur']]

In [22]:
### Delete##
a = [['Ram', 20, 'Ktm'], ['Shyam', 66, 'Jhapa'], ['Hari', 45, 'Lalitpur']]
del a[0]
a

[['Shyam', 66, 'Jhapa'], ['Hari', 45, 'Lalitpur']]

In [2]:
## WAP to convert given string to list inside list and convert price, qty and total into integer
  #a = "Apple 200 2 400 Banana 100 3 300"
   #a = [[Apple 200 2 400],[Banana 100 3 300]]
final = []
a = "Apple 200 2 400 Banana 100 3 300"
b = a.split( )

x = b.pop(0) 

print(x)
print(b)
l

Apple
['200', '2', '400', 'Banana', '100', '3', '300']

8

In [3]:
## WAP to create a matrix taking row and column from user
# r= ?, c=? = take from user
# get value from user to make matrix
#r*c matrix
#dynamic row column ... agadi samma column fixed but row was dynamic but now both dynamic
# nested loop will be used ( for vitra for)
1.
# for R:
    #for C i.e suruma row banaune ani column banaune and repeat the same process.

1.0