In [3]:
## Dictionary Inside dictionary###

d = {1:{'name': 'Rama', 'ntc': '98999', 'ncell': '9800'},
     2:{'name': 'Sita', 'ntc': '98965', 'ncell': '9811'}}
print(d)

{1: {'name': 'Rama', 'ntc': '98999', 'ncell': '9800'}, 2: {'name': 'Sita', 'ntc': '98965', 'ncell': '9811'}}

In [4]:
### creating dictionary inside dictionary with user inputs


info = {}

n = int(input("Enter value of n ="))

for i in range(1,n+1):
  
    name = input("Enter your name: ")
    ntc = input("Enter your NTC no.: ")
    ncell = input("Enter Your Ncell no.: ")
    data = {'name':name,'ntc':ntc,'ncell':ncell}
    info[i] = data   # i is key
    
    
print(info)

Enter value of n =2
Enter your name: Ram
Enter your NTC no.: 98622
Enter Your Ncell no.: 981212
Enter your name: Shyam
Enter your NTC no.: 98451
Enter Your Ncell no.: 981113
{1: {'name': 'Ram', 'ntc': '98622', 'ncell': '981212'}, 2: {'name': 'Shyam', 'ntc': '98451', 'ncell': '981113'}}

In [5]:
## Reading in  Dictionary Inside dictionary ###
info=  {1: {'name': 'Ram', 'ntc': '98622', 'ncell': '981212'}, 
        2: {'name': 'Shyam', 'ntc': '98451', 'ncell': '981113'}}

info[1]  # 1 key/index ko value return garxa

{'name': 'Ram', 'ntc': '98622', 'ncell': '981212'}

In [6]:
info[1]['name']

'Ram'

In [8]:
#update

info [1]['name']= 'Rama'
info[1]['name']    # updated name

'Rama'

In [9]:
## how to add new value in above 'info'

info[3] = {'name': 'Hari', 'ntc': '984551', 'ncell': '9811413'}
info

{1: {'name': 'Rama', 'ntc': '98622', 'ncell': '981212'},
 2: {'name': 'Shyam', 'ntc': '98451', 'ncell': '981113'},
 3: {'name': 'Hari', 'ntc': '984551', 'ncell': '9811413'}}

In [10]:
## delete

del info[1]['name']  ## both key and values are deleted ## multiple or dynamic banauna lai loop use garne
info

{1: {'ntc': '98622', 'ncell': '981212'},
 2: {'name': 'Shyam', 'ntc': '98451', 'ncell': '981113'},
 3: {'name': 'Hari', 'ntc': '984551', 'ncell': '9811413'}}

In [11]:
## key ma dictionary, list rakhna mildaina
d = {1.1:'Apple'}, 'b': 'Ball'
d = {['Ram','Hari']:'986565','Shyam':984545}   # dict le Ram ra hari ko same number yesari vanna maildaina so, usue tuple

SyntaxError: invalid syntax (999719973.py, line 2)

In [14]:
d = {('Ram','Hari'):'986565','Shyam':'984545'}    # this tuple as dictionary ma yo kaam vayena
d
d[('Ram','Hari')]   # both use garda matra value return garxa

'986565'