In [1]:
# Tupple
# -Indexing
# -Ordered
# -Multiple and duplicate values
# -Imutable

In [2]:
a = tuple()
a = ("Apple","Ball","Cat","Dog",)
a

('Apple', 'Ball', 'Cat', 'Dog')

In [9]:
a = ("Apple",)
print(type(a))

<class 'tuple'>

In [15]:
a = ("Apple","Ball","Cat","Dog","Apple")
print(a)
print(a[0])
print(a[0:3])
print(a[0:3:2])

('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
Apple
('Apple', 'Ball', 'Cat')
('Apple', 'Cat')

In [16]:
# # -Imutable
# No append() insert() extend()
# No update
# No delete pop() remove()
# No sort()

In [17]:
# We can
# sum() max() min()
# index()
# read
# create
# search

In [20]:
a = (1,2,3,4)
b = (5,6,7,8)
a*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [21]:
a+b

(1, 2, 3, 4, 5, 6, 7, 8)

In [22]:
l = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+(x,)
print(l)

Enter n = 2
Enter x = 234
Enter x = 45
(234, 45)

In [24]:
print("The max value is = ",max(l))
print("The min value is = ",min(l))
print("The sum = ",sum(l))
print("Average = ",sum(l)/n)

The max value is =  234
The min value is =  45
The sum =  279
Average =  139.5

In [25]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
a.index("Ball")

1

In [26]:
if "Apple" in a:
    print("Yes")

Yes

In [33]:
#converting tuple into list
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple')
b = list(a)
b

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [34]:
# del any value
del b[0]
b

['Ball', 'Cat', 'Dog', 'Apple']

In [35]:
a = tuple(b)
a

('Ball', 'Cat', 'Dog', 'Apple')

In [44]:
d = {('Ram','Hari'): ('980768786','9808776865'), 'Shyam': '8798789'}
d

{('Ram', 'Hari'): ('980768786', '9808776865'), 'Shyam': '8798789'}

In [46]:
a =()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter age = ")
    x = (name,age,add)
    a = a +(x,)
    
a

Enter n = 2
Enter name = Ram
Enter age = 78
Enter age = Kathmandu
Enter name = Shyam
Enter age = 67
Enter age = Bhaktapur

(('Ram', 78, 'Kathmandu'), ('Shyam', 67, 'Bhaktapur'))