In [ ]:
## Python Collection##
#List , tuple , set , dictionary

In [2]:
b = [] #empty
c = list()  # empty list defined
a = ['apple', 'ball', 'cat','Fish']
d = ['Apple', 1,2,3,4.5,6.5,7.6]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [8]:
#using index in list
a = ['apple', 'ball', 'cat','Fish','AA']
print(a[1])
print(a[-1])
print(a[0:4])
print(a[0:4:2])  #indexing with range # 0 dekhi 4 samma but 2 le increment but 4 print hudaina, so here AA print vayena

ball
AA
['apple', 'ball', 'cat', 'Fish']
['apple', 'cat']

In [10]:
#orderd = index change hudaina, jasto xa testai print
a = ['apple', 'ball', 'cat','Fish']
print(a)

['apple', 'ball', 'cat', 'Fish']

In [12]:
a = ['apple', 'ball', 'cat','Fish']
d = ['Apple', 1,2,3,4.5,6.5,7.6]
c = a+d  # oredered
e = d+a  # oreded
print(c)
print(e)

['apple', 'ball', 'cat', 'Fish', 'Apple', 1, 2, 3, 4.5, 6.5, 7.6]
['Apple', 1, 2, 3, 4.5, 6.5, 7.6, 'apple', 'ball', 'cat', 'Fish']

In [15]:
#ENlargement

a =[ 1,2,3,4,5]
b = ['apple', 'ball', 'cat','Fish']

print(a*2) # list ma calcn garna mildaina, only for data collection, for calcn use NumPy
print(b*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
['apple', 'ball', 'cat', 'Fish', 'apple', 'ball', 'cat', 'Fish']

In [18]:
### 1. Adding Values to list
l=[]
n = int(input("Enter n ="))
for i in range(n) :
    x = int(input("Enter x ="))
    l = l+[x]
print(l)

Enter n =5
Enter x =55
Enter x =68
Enter x =97
Enter x =95
Enter x =555
[55, 68, 97, 95, 555]

In [20]:
### 1.1 max and min
print("The max value is", max(l))
print("The min value is", min(l))
print("The sum = ", sum(l))
print("Average", sum(l)/n)
l.sort() # this will update the l  in ascending order
print(l) # this will print updated l . so, it is mutable
l.reverse()
print(l)

The max value is 555
The min value is 55
The sum =  870
Average 174.0
[55, 68, 95, 97, 555]
[555, 97, 95, 68, 55]

In [24]:
a = ['apple', 'ball','dog','fish','elephant']
b = ['apple', 'ball','Dog','fish','elephant']
a.sort()
print(a)
b.sort()
print(b)

['apple', 'ball', 'dog', 'elephant', 'fish']
['Dog', 'apple', 'ball', 'elephant', 'fish']

In [26]:
# upper lower = full list lai mildaina, each string lai chai using index milxa
b[2].lower()

'ball'

In [27]:
# Loop and list
a = ['apple', 'ball','dog','fish','elephant']
for i in a:
    print(i)

apple
ball
dog
fish
elephant

In [28]:
#Len()
len(a)  # 5 comma separated values so, loop 5 times run hunxa

5

In [29]:
a = ['apple', 'ball','dog','fish','elephant']
l = len(a)
for i in range(l):
    print(a[i])

apple
ball
dog
fish
elephant

In [32]:
### Search
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
if "apple" in a:
    print("Yes")
    print(a.count("apple"))

Yes
2

In [ ]:
################################################################################################
# Append()   # Insert()  # Extend()

In [34]:
#APPEND()
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
a.append('Sky')
print(a)

['apple', 'ball', 'dog', 'fish', 'elephant', 'Xray', 'apple', 'Sky']

In [37]:
#INSERT()
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
a.insert(1,'Sky')  # changes index of values thereafter
print(a)

['apple', 'Sky', 'ball', 'dog', 'fish', 'elephant', 'Xray', 'apple']

In [39]:
#Extend
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
b= [1,2,3,4]   # this must be list
a.extend(b)
print(a)   # 1,2,3,4 will be as integer

['apple', 'ball', 'dog', 'fish', 'elephant', 'Xray', 'apple', 1, 2, 3, 4]

In [41]:
# string to list
a= "Apple"
b= list(a)
print(b)

['A', 'p', 'p', 'l', 'e']

In [43]:
# list to string = NO
a= "Apple"
b= list(a)
c= str(b)
c

"['A', 'p', 'p', 'l', 'e']"

In [45]:
# Adding values to list using APPEND()

l=[]
n = int(input("Enter n ="))
for i in range(n) :
    x = int(input("Enter x ="))
    l.append(x)  # small bracket
print(l)

Enter n =2
Enter x =45
Enter x =45
[45, 45]

In [46]:
##### UPDATE or EDIT####

a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
a[0]= "Ant"  #update in index 0
print(a)

['Ant', 'ball', 'dog', 'fish', 'elephant', 'Xray', 'apple']

In [48]:
# UPDATE or EDIT ( uppercase)

a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
a[0]= a[0].upper()  #update in index 0
print(a)

['APPLE', 'ball', 'dog', 'fish', 'elephant', 'Xray', 'apple']

In [49]:
### del, remove(), pop(),


#del  = keyword not a function
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
del a[0]
print(a)  # mutable
del a[0:2]
print(a)   # mutable

['ball', 'dog', 'fish', 'elephant', 'Xray', 'apple']
['fish', 'elephant', 'Xray', 'apple']

In [51]:
## pop()  = to move value
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
b = a.pop(0) # small bracket range use garna mildaina
print(a)
print(b)

['ball', 'dog', 'fish', 'elephant', 'Xray', 'apple']
apple

In [52]:
## pop()  = to move value= if no index is used = last ko value move vayera janxa
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
a.pop() 
print(a)

['apple', 'ball', 'dog', 'fish', 'elephant', 'Xray']

In [ ]:
##### remove()

In [56]:
a = ['apple', 'ball','dog','fish','elephant','Xray','apple']
a.remove('apple')   # euta matra remove hunxa
a

['ball', 'dog', 'fish', 'elephant', 'Xray', 'apple']