In [ ]:
d= dict()

In [ ]:
#d ={<key>:<value>,<key>:<value>}

In [2]:
d = {'a':'apple','b':'Ball','c':'Cat'}
print(type(d))
print(d)
print(len(d))

<class 'dict'>
{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}
3

In [3]:
## Indexing i.e. key is used as index
print(d['a'])
print(d['b'])
print(d['c'])

apple
Ball
Cat

In [7]:
## duplicate key value
d = {'a':'apple','b':'Ball','c':'Cat','a':'Ant'}
print(d['a'])  # if duplicate key value then, last ko value le update garxa

e = {'a':'apple','b':'Ball','c':'Cat','A':'Ant'}
print(e['A'])

Ant
Ant

In [10]:
## Mutable = eg. new value can be added
d={}
d['a'] ='Apple'
d['b'] ='Ball'
d['c'] ='Cat'
d ['a'] =' Ant'  # i.e yo naya key value pair le purano 'Apple' lai update garyo.
print(d)

{'a': ' Ant', 'b': 'Ball', 'c': 'Cat'}

In [12]:
##### Input from User to a dictionary ###


info= {}
n = int(input('ENter n ='))
for i in range(n):
    name = input("Enter your name: ")
    phone = input("Enter phone no.: ")
    info[name] = phone   ## creating dictionary
print(info)

ENter n =2
Enter your name: Ram
Enter phone no.: 98900
Enter your name: Shyam
Enter phone no.: 9700
{'Ram': '98900', 'Shyam': '9700'}

In [20]:
## Reading from dictionary
d = {'a':'apple','b':'Ball','c':'Cat','a':'Ant'}
for i in d:
    print(i)    # returns only key

    
for j in d.values():
    print(j)    # returns only key

for i in d.items():  # prints both keys and values in 'Tuple' form
    print(i)

a
b
c
Ant
Ball
Cat
('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [23]:
## tuple lai list ma lagera rakhne from dicstionary

for i in info.items():
    print(i)
    
l = []
for i in info.items():
    l.append(i)
l
dict(l)

('Ram', '98900')
('Shyam', '9700')

{'Ram': '98900', 'Shyam': '9700'}

In [24]:
d = [[1,1],[2,4],[3,9]]
dict(d)

{1: 1, 2: 4, 3: 9}

In [ ]:
## Indictionary, no concat + - / ** % //

In [25]:
## Update()

a = {'Ram': '98900', 'Shyam': '9700'}
b = {1: 1, 2: 4, 3: 9}

a.update(b)
a

{'Ram': '98900', 'Shyam': '9700', 1: 1, 2: 4, 3: 9}

In [27]:
# editing old values
a = {'Ram': '98900', 'Shyam': '9700'}
a['Ram'] = '9600' # can be anything string or integer
a

{'Ram': 9600, 'Shyam': '9700'}

In [29]:
## For deleting = del, pop()
## delete garda both key ra value nai janxa
a = {'Ram': '98900', 'Shyam': '9700'}
del a['Ram']
a

{'Shyam': '9700'}

In [30]:
#pop() = move

a = {'Ram': '98900', 'Shyam': '9700'}
b= a.pop('Ram')  # value matra janxa. key(i.e. index, like in list) jadaina
print(b)
print(a)

98900
{'Shyam': '9700'}

In [43]:
#list inside list to store multiple value for a key ### IMP concept###  key is like column in table##

a = {'Ram': ['98900', '96000'], 'Shyam': ['9700','94000']}  # one to many relationship

# reding above list

print(a['Ram'])   # i.e. list return garyo so, list ma hune sabai kaam garna paiyo.
print(a['Ram'][0])  # if 0 index ma NTC ko number xa ## here list ko index pani use garna sakiyo.

## adding new value
a['Hari']=[91000,92000]
print(a)

# deleting

del a['Hari'][0]  # hari ko first number delete vayo
a['Hari']

#updating
a['Ram'][0] = 95600
a['Ram']

['98900', '96000']
98900
{'Ram': ['98900', '96000'], 'Shyam': ['9700', '94000'], 'Hari': [91000, 92000]}

[95600, '96000']

In [44]:
### getting 2 inputs from user and adding to a keypair


info= {}
n = int(input('ENter n ='))
for i in range(n):
    name = input("Enter your name: ")
    ntc_phone = input("Enter phone no.: ")
    ncell_phone = input("Enter phone no.: ")
    info[name] = [ntc_phone,ncell_phone]  ## list banauxa ani lagera rakhxa.
print(info)

ENter n =2
Enter your name: Ram
Enter phone no.: 9800
Enter phone no.: 6500
Enter your name: Shyam
Enter phone no.: 98622
Enter phone no.: 981213
{'Ram': ['9800', '6500'], 'Shyam': ['98622', '981213']}

In [47]:
# 1. different approach/ structure

# different approach    # first i.e. 0 index ko data Ram ko ho.
data = {'Name':['Ram','Shyam'],
       'Ntc':[985122,986222],
       'Ncell':[981212,98222]}
data

{'Name': ['Ram', 'Shyam'], 'Ntc': [985122, 986222], 'Ncell': [981212, 98222]}

In [48]:
# 1.1 different approach

# Details of Ram = 0 index ma vayeko data Ram ko data ho.
print(data['Name'][0],data['Ntc'][0],data['Ncell'][0])

Ram 985122 981212

In [1]:
# How to create this above different structure by taking inputs from user.
#'Name':['Ram','Shyam'],
#      'Ntc':[985122,986222],
 #      'Ncell':[981212,98222]}

info= {'Name':[],'ntc':[],'ncell':[]}  # Name, ntc ra ncell are key so, we fixed those values


n = int(input('ENter n ='))
for i in range(n):
    name = input("Enter your name: ")
    ntc_phone = input("Enter phone no.: ")
    ncell_phone = input("Enter phone no.: ")
    
    info['Name'].append(name)
    info['ntc'].append(ntc_phone)
    info['ncell'].append(ncell_phone)
    
    ## list banauxa ani lagera rakhxa.
print(info)

ENter n =2
Enter your name: Ram
Enter phone no.: 98622
Enter phone no.: 98012
Enter your name: Shyam
Enter phone no.: 98512
Enter phone no.: 9822
{'Name': ['Ram', 'Shyam'], 'ntc': ['98622', '98512'], 'ncell': ['98012', '9822']}

In [4]:
l = len(info) # i.e. 3 columns 
l = len(info['Name']) #  i.e. 2 janako details xa

2

In [6]:
# 2. searching with index , after finding index of ram's info
# step 1
l = len(info['Name'])
i = int(input("Enter value of i"))  # i, index chai common raxa so ma user sagaa mmagxu
for j in info:  # yesle j ma index 
info['Name'][i]    # aaba yaha ko key lai pani aafai aaune banaune instep 2
info['ntc'][i]
info['ncell'][i]

Enter value of i0
Name Ram
ntc 98622
ncell 98012

In [7]:
# step2 (final)

l = len(info['Name'])
i = int(input("Enter value of i"))  # i, index chai common raxa so ma user sagaa mmagxu
for j in info:  # yesle j ma index i.e. key  lyauxa
    print(j,info[j][i])

Enter value of i0
Name Ram
ntc 98622
ncell 98012

In [9]:
## finding index of RAm?? - refer list

index = info['Name'].index('Ram')  # returns only single index, but if multiple index= refer list, # multiple list xa vane teslai list ma rakhne ani loop laune

In [3]:
# l = len(info['Name'])
b = input("Enter name = ")
# for index in range(len(a)):
#     if a[index] == b:
#         print(index)
        
index = info['Name'].index('Ram')
    
# i = int(input("Enter i = "))
for j in info:
    print(j,info[j][index],end=" ")

Enter name = Ram

TypeError: list indices must be integers or slices, not str

In [2]:
## How to create like this  # dictionary inside list
# read,write,del,update
#data= [{name:'Ram','ntc':'984655612', 'ncell': 98656565656},  # key repeat vayeko xa
#     {name:'Shyam','ntc':'984655612', 'ncell': 98656565656},
#    {name:'Hari','ntc':'984655612', 'ncell': 98656565656}]

## Way 1

info = []

n = int(input("Enter value of n ="))
d ={'Name':'','Ntc':'','Ncell':''}
for i in range(n):
    d ={'Name':'','Ntc':'','Ncell':''}
    name = input("Enter your name: ")
    ntc = input("Enter your NTC no.: ")
    ncell = input("Enter Your Ncell no.: ")
    d['Name']=name
    d['Ntc']=ntc
    d['Ncell']=ncell
    info.append(d)
    
print(info)

Enter value of n =3
Enter your name: Ram
Enter your NTC no.: 9866
Enter Your Ncell no.: 981212
Enter your name: Shyam
Enter your NTC no.: 98451
Enter Your Ncell no.: 9800
Enter your name: Hari
Enter your NTC no.: 98541
Enter Your Ncell no.: 98111
[{'Name': 'Ram', 'Ntc': '9866', 'Ncell': '981212'}, {'Name': 'Shyam', 'Ntc': '98451', 'Ncell': '9800'}, {'Name': 'Hari', 'Ntc': '98541', 'Ncell': '98111'}]

In [4]:
# Way 2

info = []

n = int(input("Enter value of n ="))
d ={'Name':'','Ntc':'','Ncell':''}
for i in range(n):
  
    name = input("Enter your name: ")
    ntc = input("Enter your NTC no.: ")
    ncell = input("Enter Your Ncell no.: ")
    data = {'name':name,'ntc':ntc,'ncell':ncell}
    info.append(data)
    
print(info)

Enter value of n =2
Enter your name: R
Enter your NTC no.: 9866
Enter Your Ncell no.: 9800
Enter your name: S
Enter your NTC no.: 98965
Enter Your Ncell no.: 9811
[{'name': 'R', 'ntc': '9866', 'ncell': '9800'}, {'name': 'S', 'ntc': '98965', 'ncell': '9811'}]

In [8]:
info[0]  # first see and check

{'name': 'R', 'ntc': '9866', 'ncell': '9800'}

In [9]:
info[0]= {'name': 'Rama', 'ntc': '98999', 'ncell': '9800'}  # update
info

[{'name': 'Rama', 'ntc': '98999', 'ncell': '9800'},
 {'name': 'S', 'ntc': '98965', 'ncell': '9811'}]

In [10]:
info[0]['name']

'Rama'

In [12]:
info[0]['name'] = 'Sita'  # update
info[0]['name']

'Sita'

In [ ]:
### part 2 in class 7