In [11]:
# FOR Loop

In [13]:
for i in range (5):
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [14]:
for a in range(5):
    print(a)

0
1
2
3
4

In [16]:
# multiplication table - test 1
a = input("Enter a number to print table:")  
for i in range (1,10):
    print(i*a) # we got such output as "a" is treated as string and (a*i) or (i*a) is processed as enlargement

Enter a number to print table:5
5
55
555
5555
55555
555555
5555555
55555555
555555555

In [19]:
# multiplication table - test 2
a = int(input("Enter a number to print table:")) # dellaring input as integer
for i in range (1,11):
    print(i,a*i)

Enter a number to print table:5
1 5
2 10
3 15
4 20
5 25
6 30
7 35
8 40
9 45
10 50

In [24]:
# User defined range
n = int(input("Enter no. of numbers to sum n:"))
for i in range(n):
    a = int(input("Enter value of a:"))
    b =
    print(a)

Enter a number n:5
Enter value of a:3
3
Enter value of a:3
3
Enter value of a:3
3
Enter value of a:5
5
Enter value of a:9
9