In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
# + *

In [4]:
a = "Hello World "
b = "I am Python"
c = a+b
print(c)

Hello World I am Python

In [6]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [7]:
a = input("Enter a = ")
type(a)

Enter a = 10

str

In [14]:
a = "Hello World I am Python"
print(a[0])
print(a[0:5]) #string slicing
print(a[0:25:2])

H
Hello
HloWrdIa yhn

In [19]:
a = "Hello World"
a[:]

'Hello World'

In [25]:
a = "Hello World"
a[0:-2]

'Hello Wor'

In [29]:
a = "Hello World"
a[-1:-1:-1]

''

In [30]:
a = "Hello World"
a[::-1]

'dlroW olleH'

In [31]:
a = "Hello World\n"
print(a+2)

TypeError: can only concatenate str (not "int") to str

In [34]:
name = "Ram"
age = 45
add = "Kathmandu"
info = "Hello World I am " + name + " I am " + str(age) +" I am from "+add
info

'Hello World I am Ram I am 45 I am from Kathmandu'

In [33]:
# string formatting
name = "Ram"
age = 45
add = "Kathmandu"
info = f"Hello World I am  {name} I am {age} I am from {add}"
info

'Hello World I am  Ram I am 45 I am from Kathmandu'

In [39]:
bill = str()
grand_total = 0
#s = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter x = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    grand_total = grand_total +total
#     bill = bill + product+" " +str(price)+str(quantity) +str(total)+"\n"
    bill = bill + f"{product} {price} {quantity} {total}\n"
print(bill)
print("All total = ",grand_total)

Enter n = 2
Enter x = Apple
Enter price = 100
Enter quantity = 3
Enter x = Banana
Enter price = 300
Enter quantity = 3
Apple 100 3 300
Banana 300 3 900

All total =  1200

In [38]:
bill

'Apple 200 2 400\nBanana 100 3 300\n'

In [44]:
name = input("Enter name = ")
a = "Ram Shyam Hari Shiva Sita Ram"
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = a
Yes
6

In [45]:
name = input("Enter name = ")
a = "Ram Shyam Hari Shiva Sita Ram"
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = ram
No

In [49]:
a = "Ram Shyam Hari Shiva Sita Ram"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SHIVA SITA RAM
ram shyam hari shiva sita ram
Ram Shyam Hari Shiva Sita Ram

In [48]:
name = input("Enter name = ").lower()
a = "Ram Shyam Hari Shiva Sita Ram".lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = ram
Yes
2

In [51]:
# replace()
a = "Ram Shyam Hari Shiva Sita Ram"
a = a.replace('Ram','Rama')
print(a)

Rama Shyam Hari Shiva Sita Rama

In [56]:
# replace()
a = "Ram Ram Shyam Hari Shiva Sita"
a = a.replace('Ram','')
print(a)

  Shyam Hari Shiva Sita

In [58]:
a = "Ram Ram Shyam Hari Shiva Sita "
a.split()

['RamRam', 'Shyam', 'Hari', 'Shiva', 'Sita']

In [59]:
a = "Ram-Ram-Shyam-Hari-Shiva-Sita "
a.split('-')

['Ram', 'Ram', 'Shyam', 'Hari', 'Shiva', 'Sita ']