In [3]:
# A. Variables
a =  10
print(a)

10

In [12]:
a = 10 # this is int datatypr
b = 15.3 # float
c = 'Hello World' # string
d = True  # boolean  (True or False)
print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

print(a,b,c,d)

10
15.3
Hello World
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
10 15.3 Hello World True

In [11]:
# Arithmetic Operators

a = 10
b = 3
c = a + b# + is opoerator and a,b,c are operand
d = a/b
e = a // b  # float division, whole number matra output dinxa.
f = a % b  # remainder is output
g = a **b  # power

print(g)

print(f)
print(d)
print(e)

print(c)

1000
1
3.3333333333333335
3
13

In [13]:
### STRING ##

a= ' Hello World'
b = "Hello world"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

print(type(a),type(b),type(c))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'> <class 'str'> <class 'str'>

In [14]:
# Concat

a  = "Hello"
b = " World"
c = a+b
print(c)

Hello World

In [15]:
# Enlargement

a = "Hello World\n"  # \n each time next line ma janxa
b = 2
c = a *b
print(c)

Hello World
Hello World

In [17]:
a = '10+'  # it is string
b = '20'
print(a+b)

10+20

In [21]:
## Boolean

a = True  # 1
b = False  # 0
c = a +b
d = a*b
print(c)
print(d)

1
0

In [23]:
## Basic I/O
f_name= input("Enter F_name:")
l_name = input("Enter L_name:")
full_name = f_name +" " +l_name
print(full_name)

Enter F_name:Rawjan
Enter L_name:Subedi
Rawjan Subedi

In [25]:
## overwrite
a = 10
a = 15
print(a)  # overwrite garxa

15

In [26]:
### Type Casting

p = int(input("Enter P="))
t = float(input("Enter T="))
r = float(input("Enter r="))

i = p*t*r/100

print("The value of i =", i)

Enter P=5000
Enter T=2.4
Enter r=15
The value of i = 1800.0