In [ ]:
# Tuple##
# - Indexing
# - Ordered
#- multiple values
# imutable

In [1]:
a = tuple()
a = ("Apple","Ball","Cat","Dog")
a

('Apple', 'Ball', 'Cat', 'Dog')

In [2]:
a = (1,2,3)  # tuple
print(type(a))

b = (1,2) # tupple
print(type(b))

c = (1)  # int
print(type(c))

d = (1,) # tuple   # similar for strings
print(type(d))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [5]:
a = ("Apple","Ball","Cat","Dog","Apple")
print(a[0])
print(a[0:3])
print(a[0:3:2])

Apple
('Apple', 'Ball', 'Cat')
('Apple', 'Cat')

In [ ]:
## Immutable
    ## No Insert(), no append(), no extend()
    ## No update
    ## No delete pop() remove()
    ## No sort()

# We can
    # sum() min() max()
    ## index()
    ## create
    ## search
    
    ## but can be concat

In [7]:
# Enlargement and Concat

a=(1,2,3,4)
b =(4,5,6,7)

print(a*2)   # enlargement

c = a+b   # concat
print(c)

(1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4, 4, 5, 6, 7)

In [12]:
### creating a tuple by using concat ##

l = ()
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    l= l +(x,)
print(l)

Enter n =2
Enter x =5
Enter x =6
(5, 6)

In [13]:
## index
a = ("Apple","Ball","Cat","Dog")
a.index("Apple")

0

In [14]:
## search
if "Apple" in a:
    print("Yes")

Yes

In [17]:
## Convertin tuple to list
c = ("Apple","Ball","Cat","Dog")
d = list(c)
d

['Apple', 'Ball', 'Cat', 'Dog']

In [18]:
del d[0]    # tuple lai list ma convert garera del gareko ani feri tuple mai convert
d

['Ball', 'Cat', 'Dog']

In [19]:
e = tuple(d)    # list lai feri tuple ma convert gareko
e

('Ball', 'Cat', 'Dog')

In [21]:
# single operation

c = ("Apple","Ball","Cat","Dog")
d = list(c)
d.remove('Ball')
d
tuple(d)   # converting list to tuple

('Apple', 'Cat', 'Dog')

In [22]:
## Tuple can be in dictionary

d = {('Ram','Hari'):('98655','98226655'),'Shyam':'9866556'}
d

{('Ram', 'Hari'): ('98655', '98226655'), 'Shyam': '9866556'}

In [23]:
## Tuple inside tuple pani hunxa

a = (('Ram',200,2,400),('Banana',300,3,900))
a

(('Ram', 200, 2, 400), ('Banana', 300, 3, 900))

In [25]:
## Creating tuple inside tuple
# Way 1

a=()
n = int(input("Enter no. of data to enter"))
for i in range(n):
    name = input("Enter your name:")
    age = int(input("Enter your age:"))
    add = input("Enter your address:")
    a = a + ((name,age,add),) ### tuple inside tuple ho so bracket ra comma pani chahinxa
a

Enter no. of data to enter2
Enter your name:Ram
Enter your age:55
Enter your address:KTM
Enter your name:SHyam
Enter your age:45
Enter your address:LT

(('Ram', 55, 'KTM'), ('SHyam', 45, 'LT'))

In [ ]:
## Creating tuple inside tuple
# Way 2

a=()
n = int(input("Enter no. of data to enter"))
for i in range(n):
    name = input("Enter your name:")
    age = int(input("Enter your age:"))
    add = input("Enter your address:")
    x = (name,age,add)  # x vanne tuple create vayo
    a = a + (x,) # x vanne tuple lai a ma lagera concat gareko
a