In [6]:
U = {'Ram', 'Shyam', 'Hari', 'Gita'}
U.add('Mike')
U.add('Mel')
print(U)

{'Shyam', 'Mel', 'Hari', 'Ram', 'Mike', 'Gita'}

In [13]:
# Check if value in set
u = {'Shyam', 'Mel', 'Hari', 'Ram', 'Mike', 'Gita'}
a= 'Ram' in U    # for ... in... garda mildaina
print(a)s

True

In [14]:
## dictionary to list  =  only key remains

d = {'dog': 1, 'cat':2, 'fish':3}
set(d) ## only key remains

{'cat', 'dog', 'fish'}

In [17]:
# union and intersection

a = {'Shyam', 'Mel', 'Hari', 'Ram', 'Mike', 'Gita'}
b = {'Ram', 'Shyam', 'Hari', 'Gita', 'Krishna','Ganesh', 'Shiva'}

print(a.union(b))

print(a.intersection(b))

{'Krishna', 'Shyam', 'Mel', 'Hari', 'Ganesh', 'Ram', 'Shiva', 'Mike', 'Gita'}
{'Shyam', 'Gita', 'Ram', 'Hari'}

In [18]:
u = {'Krishna', 'Shyam', 'Mel', 'Hari', 'Ganesh', 'Ram', 'Shiva', 'Mike', 'Gita','Michael','IronMan','Captain','Thor'}
a = {'Shyam', 'Mel', 'Hari', 'Ram', 'Mike', 'Gita'}
b = {'Ram', 'Shyam', 'Hari', 'Gita', 'Krishna','Ganesh', 'Shiva'}

u-a.union(b)  # these are not in either of sets

{'Captain', 'IronMan', 'Michael', 'Thor'}