In [ ]:
## Set
    #-No indexing
    #- No duplicate data
    #-  unordered
    #- Mutable

In [2]:
a = set()
s ={1,2,3,4,5,6}
print(type(a))
print(type(s))

<class 'set'>
<class 'set'>

In [3]:
## No indexing

s ={1,2,3,4,5,6}
s[0]   # no indexing

TypeError: 'set' object is not subscriptable

In [9]:
# No duplicate data
s ={1,2,3,4,5,6,1,2,3,4}
print(s)   # i.e. unique value matra print garxa

{1, 2, 3, 4, 5, 6}

In [19]:
## unoredered datatype

s = {"Apple","Zebra","Ball","Xray",1.1,58}
print(s)
s

{1.1, 58, 'Ball', 'Xray', 'Zebra', 'Apple'}

{1.1, 58, 'Apple', 'Ball', 'Xray', 'Zebra'}

In [10]:
s ={1,2,3,4,5,6,1,2,3,4}
print(len(s))

6

In [11]:
s = {"Apple","Zebra","Ball","Xray"}
for i in s:
    print(i)  # unoredered so, random print hunxa

Ball
Xray
Zebra
Apple

In [14]:
# Removing duplicates
a = [1,2,3,4,5,6,6,7,8,8,9,10,1,4,10,12,45,45]
b = set(a) # removes duplicate set bamayera
c= list(b)  # again converting to list
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 45]

In [15]:
# Removing duplicates - One step
a = [1,2,3,4,5,6,6,7,8,8,9,10,1,4,10,12,45,45]
list(set(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 45]

In [18]:
s = {1}
print(type(s))

d ={}
print(type(d))

e = set()
print(type(e))

f = ()
print(type(f))  # tuple

<class 'set'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [20]:
## Inside set = no mutable datatype , even set. so, only tuple (immutable) hunxa

# tuple(immutable) inside set
a= {1, 2, 3, (4, 5, 6), (7, 8, 9), (10, 12, 45)}
a

{(10, 12, 45), (4, 5, 6), (7, 8, 9), 1, 2, 3}

In [23]:
# diction inside set = error
b= {1, 2, 3, {4, 5, 6}, {7, 8, 9}, {10, 12, 45}}

TypeError: unhashable type: 'set'

In [24]:
# list inside set = error
c= {1, 2, 3, [4, 5, 6], [7, 8, 9], [10, 12, 45]}
c

TypeError: unhashable type: 'list'

In [25]:
# tuple ma dict inside a set = error 

f= {1, 2, 3, (4, 5, 6), (7, {8}, 9), (10, 12, 45)}
f

TypeError: unhashable type: 'set'

In [ ]:
########################################################################################################################

In [27]:
U = {'Bill','Gates','Hari','John','Mike','Nabin','Ram','Sambhu','Satya','Sita','abc','xyz'}   #universal set eg. they are from same college, koi ms ma gaye koi apple ma gaye

ms = {"Ram","Bill","Gates","Mike","John","Satya","Sambhu"}  # suppose, employees with unique name
apple ={"Sita","Hari","Nabin","John","Satya","Ram"}

## intersection-> common values i.e. 2tai ma vayeko
print(ms.intersection(apple))

## union => ## merged values- duplicates are removed
ms.union(apple)

{'Ram', 'Satya', 'John'}

{'Bill',
 'Gates',
 'Hari',
 'John',
 'Mike',
 'Nabin',
 'Ram',
 'Sambhu',
 'Satya',
 'Sita'}

In [28]:
# difference
ms - apple   # microsoft ma matrai kaam gareko but not in apple ko employee list

{'Bill', 'Gates', 'Mike', 'Sambhu'}

In [29]:
## difference 2
apple-ms

{'Hari', 'Nabin', 'Sita'}

In [33]:
# total students i.e. U ma vayeko madhye kati jana unemployed xan ta ???

U = {'Bill','Gates','Hari','John','Mike','Nabin','Ram','Sambhu','Satya','Sita','abc','xyz'}   #universal set eg. they are from same college, koi ms ma gaye koi apple ma gaye

ms = {"Ram","Bill","Gates","Mike","John","Satya","Sambhu"}  
apple ={"Sita","Hari","Nabin","John","Satya","Ram"}

un = ms.union(apple)   # they are employed in any of the companies
print(un)

print(U-un)    # they are unemployes

len(U-un)  # no. of unemployed

{'Gates', 'Sambhu', 'Satya', 'John', 'Mike', 'Nabin', 'Sita', 'Bill', 'Ram', 'Hari'}

2

In [34]:
## add()
a= {"Apple"}
a.add("Ball")
a

{'Apple', 'Ball'}

In [35]:
## remove
a = {'Apple', 'Ball'}
a.remove('Apple')
a

{'Ball'}