In [3]:
a = 'hello'
b = "hello"
c = '''hello'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>

In [5]:
#Operators in string + *
a = "Hello World"
b= "I am Python"
c = a+b
print (c)

Hello WorldI am Python

In [7]:
a = "Hello World\n"  #\n le next line
print(a*2)

Hello World
Hello World

In [10]:
a = input("Enter a =")
print(type(a))  #  by default string

Enter a =8
<class 'str'>

In [13]:
#Index Print
a = "Hello World. I am Python"
print(a[0])
print(a[0:5])  # String slicing
print(a[0:20:2]) # last ko le increment garxa like in range. by default chai 1 hune vayo. ie. 0, 0+2,0+2+2 and so on.

H
Hello
HloWrd  mP

In [20]:
a = "Hello World"
a[10]
a[0:111] # since, range is used no error even of no 111 index
a[:] # zero dekhi last samma

'Hello World'

In [26]:
a = "Hell WOrld"
a[ : :-1]   # first dekhi last samma print but in opposite order

'dlrOW lleH'

In [28]:
a= "Hello World"
a[:-1] # zero dekhi -1 samma

'Hello Worl'

In [32]:
a= "Hello World"
a[0:-1] # suru bata but last ko include nagarne

'Hello Worl'

In [35]:
a = "Hello World"
a[-1:0:-1]  # 0 lai consider gardaina, so, mathiko use garne. since, a[ : :-1] yesma, 0 xaina so, first ko lai exclude gardaina.

'dlroW olle'

In [36]:
######################

In [38]:
a = "Hello World\n"  #\n le next line
print(a+2)

TypeError: can only concatenate str (not "int") to str

In [41]:
name = "Ram"
age = 45
add = "Kathmandu"
info = "Hello World I am "+ name+ "I am "+ str(age)+ " .I am from "+ add  # we have chnage age to string type
info

'Hello World I am RamI am 45 .I am from Kathmandu'

In [42]:
### STRING FORMATTING ### so,that we don't have to convert each and every datatype.

       # use case - bulk emailing

In [47]:
# string formatting
name = "Ram"
age = 45
add = "Kathmandu"
info = f"Hello World I am  {name} I am  {age} I am from {add}"  # we have chnage age to string type, {} and f are used, f is used with no space at beginning
info

'Hello World I am  Ram I am  45 I am from Kathmandu'

In [ ]:
# Problem 1:
bill = str() # empty string  #it is like crearting an empty bill # it is string initialization
n = int(input("Enter n ="))  # number of products
for i in range(n):
    product= input("Enter product =")
    price = int(input("Enter price ="))
    quantity = int(input("enter quantity ="))
    total = price * quantity
    
   # bill = bill + product +str(price)+ str (quantity)+ str(total)+"\n" === before using string formatting
    bill = bill + f"{product} {price} {quantity} {total}\n"   # this will update the details in empty bill, tei bill ma add hudai janxa
print(bill)

In [1]:
# Problem 1 modified:
bill = str() # empty string  #it is like crearting an empty bill
grand_total = 0

n = int(input("Enter n ="))  # number of products
for i in range(n):
    product= input("Enter product =")
    price = int(input("Enter price ="))
    quantity = int(input("enter quantity ="))
    total = price * quantity
    grand_total = grand_total+ total
    
    
   # bill = bill + product +str(price)+ str (quantity)+ str(total)+"\n" === before using string formatting
    bill = bill + f"{product} {price} {quantity} {total}\n"   # this will update the details in empty bill, tei bill ma add hudai janxa
print(bill)    # this bill is string, even printed price is string
print("All total = ", grand_total)

Enter n =2
Enter product =Apple
Enter price =5
enter quantity =10
Enter product =Banana
Enter price =65
enter quantity =3
Apple 5 10 50
Banana 65 3 195

All total =  245

In [3]:
# name, phone from users
info = str()
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter Your Name:")
    phone= input("Enter Your Phone:")
    info = info + f"{name} {phone}\n"
    #print(info) - if used here, each loop ma print garxa. so , bahira rakhne.
print(info)

Enter n =

ValueError: invalid literal for int() with base 10: ''

In [ ]:
### SEARCH/ FIND  in string ####

In [5]:
a = "Ram Shyam Hari Shiva Sita Ram"
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [8]:
name = input("Enter name= ")
a = "Ram Shyam Hari Shiva Sita Ram"
if name in a:
    print("Yes")
    print(a.count(name))  # count() - works with string, here, "a" count() use garne using 'name' entered by user
else:
    print("No")    # this will search sequence of character. ie. a,r,.. search garda pani aauxa. ani, it is case sensitive.

Enter name= a
Yes
6

In [18]:
# Conversion into uppercase and lower case 
a = "Ram Shyam Hari Shiva Sita Ram"
print(a.upper())
print(a.lower())  # changes ASCII value
print(a)  # returns same as inital 'a' becaz STRING is immutable datatype.

RAM SHYAM HARI SHIVA SITA RAM
ram shyam hari shiva sita ram
Ram Shyam Hari Shiva Sita Ram

In [20]:
name = input("Enter name= ").lower()   # source nai changed to lower for comparison
a = "Ram Shyam Hari Shiva Sita Ram".lower()
if name in a:
    print("Yes")
    print(a.count(name))  
else:
    print("No")    # 'R' search garda pani find hunxa becaz string is immutable.

Enter name= a
Yes
6

In [21]:
#### REPLACE() #####

In [26]:
# replace()
a = "Ram Shyam Hari Shiva Sita Ram"
a= a. replace('Ram','Rama') # a is updated
#print (a) # mathikai value aauxa since, string is immutable, so need to restore in new variable.
print(a)

Rama Shyam Hari Shiva Sita Rama

In [30]:
# Remove garna mildaina but we will use ' '
a = "Ram Shyam Hari Shiva Sita Ram"
b = a. replace('Ram','')
print(b)

 Shyam Hari Shiva Sita

In [32]:
### split()##  uses SPACE as a basis to split, by default
a = "Ram Shyam Hari Shiva Sita Ram"
a.split()

['Ram', 'Shyam', 'Hari', 'Shiva', 'Sita', 'Ram']

In [33]:
# if separated by '-'
a = "Ram-Shyam-Hari-Shiva-Sita-Ram"
a.split('-')

['Ram', 'Shyam', 'Hari', 'Shiva', 'Sita', 'Ram']